* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial Narrow Bold", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;

  transition: transform 0.1s ease-in;
}

button:hover {
  transform: scale(1.5);
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;
  width: 100%;
  height: 100%;
}

.reviews-container__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.reviews-container__title > h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}

.reviews-container__title > hr {
  height: 8px;
  width: 75%;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.reviews-container__review {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 75%;
  background-color: yellow;
  border-radius: 1rem;
  border: 3px solid black;
  overflow: hidden;
}

.reviews-container__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
  z-index: 1;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  width: 40%;
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in;
  opacity: 0;
}

.reviews-container__reviews {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.prev {
  transform: translateX(-100%);
}

.next {
  transform: translateX(100%);
}

.current {
  transform: translateX(0);
  opacity: 1;
}

#img-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#photo {
  width: 10rem;
  height: 10rem;
  margin-top: 2rem;
  /* Image Border */
  border-radius: 50%;
  border-color: blue;
  border-style: solid;

  border-top-width: 0.8rem;
  border-right-width: 1rem;
  border-bottom: none;
  border-left: none;

  box-shadow: 1px 1px 15px 7px blue;
  object-fit: cover;
}

#quote-id {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: yellowgreen;
  padding: 0.5rem;
  margin-top: 3rem;
  transform: translateX(-7px);
}

#name {
  margin: 1rem 0 0.5rem 0;
  font-weight: 800;
  font-size: 1.6rem;
}

#role {
  margin-bottom: 2rem;
  font-weight: 800;
}

#review-content {
  margin: 1.5rem 2rem 5rem 2rem;
  letter-spacing: 0.1rem;
  font-size: 0.95rem;
  font-weight: 800;
  text-align: center;
}

#div-container {
  display: flex;
  align-items: center;
}

#prev-button,
#next-button {
  height: 2rem;
  width: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.95rem;
  background-color: yellow;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
}

@media screen and (max-width: 850px) {
  section {
    min-width: auto;
  }
  #review-content {
    font-size: 0.75rem;
    margin: 0.5rem 2rem 5rem 2rem;
  }
}
