* {
  padding: 0;
  margin: 0;
}

/* Colors */
/* White,Yellow,Blue */

@keyframes slider_animation_left {
  60% {
    transform: translate(-600px, 0);
    opacity: 0;
  }
  70% {
    transform: translate(600px, 0);
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider_animation_right {
  60% {
    transform: translate(600px, 0);
    opacity: 0;
  }
  70% {
    transform: translate(-600px, 0);
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: yellowgreen;
  font-family: "Arial Narrow Bold", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin-top: 5rem;
}

hr {
  width: 10rem;
  height: 0.2rem;
  background-color: yellow;
  border-color: yellow;
}

section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 4rem 0 4rem;
  background-color: yellow;
  min-width: 800px;
  max-width: 800px;
  min-height: 550px;
  max-height: 550px;
  border-radius: 1.3rem;
  overflow: hidden;
  user-select: none;
}

.review-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 550px;
  max-height: 550px;
  opacity: 1;
  transition: transform 1s, opacity 1s;
}

#img-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#photo {
  width: 10rem;
  height: 10rem;
  margin-top: 2rem;
  /* Image Border */
  border-radius: 50%;
  border-color: blue;
  border-style: solid;

  border-top-width: 0.8rem;
  border-right-width: 1rem;
  border-bottom: none;
  border-left: none;

  box-shadow: 1px 1px 15px 7px blue;
  object-fit: cover;
}

#quote-id {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: yellowgreen;
  padding: 0.5rem;
  margin-top: 3rem;
  transform: translateX(-7px);
}

#name {
  margin: 1rem 0 0.5rem 0;
  font-weight: 800;
  font-size: 1.6rem;
}

#role {
  margin-bottom: 2rem;
  font-weight: 800;
}

#review-content {
  margin: 1.5rem 2rem 5rem 2rem;
  letter-spacing: 0.1rem;
  font-size: 0.95rem;
  font-weight: 800;
  text-align: center;
}

#div-container {
  display: flex;
  align-items: center;
}

#prev-button,
#next-button {
  height: 2rem;
  width: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.95rem;
  background-color: yellow;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  transform: scale(1.3);
}

@media screen and (max-width: 850px) {
  section {
    min-width: auto;
  }
  #review-content {
    font-size: 0.75rem;
    margin: 0.5rem 2rem 5rem 2rem;
  }
}
